@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

:root {
    --CPBlue: #174eaf;
    --BrightOrange: #f05a28;
    --LightGrayishBlue: #F2F3F4;
    --PureBlue: #00acee;
    --LightShadeBrown: #fab84a;
}

/*General Styling*/

body {
    font-family: 'Crimson Text', serif;
}

main {
    margin-top: 74px;
    font-family: 'Crimson Text', serif;
}

a {
    text-decoration: none;
}

/*General Styling End*/

/*Nav Styling*/
.top-nav {
    display: grid;
    grid-auto-columns: 0.25fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 0.25fr;
    grid-template-areas: ". logo nav nav nav nav nav nav .";
    background-color: var(--CPBlue);
    margin-bottom: 5px;
    position: fixed;
    width: 100%;
    padding-top: 10px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.header {
    grid-area: logo;
    align-self: center;
}

.list {
    grid-area: nav;
}

.list ul {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}

.list ul li {
    list-style: none;
    color: white;
    font-size: 1.2em;
    font-weight: 200;
    text-decoration: none;
}

/*Nav Styling End*/

/*Index (tile-page) View Styling*/

.tile {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    border-bottom: 5px solid var(--LightShadeBrown);
}

.ride-image {
    width: 250px;
    height: 200px;
    float: left;
}

.tile-view {
    display: flex;
    flex-direction: column;
}

.tile-name {
    text-decoration: none;
    color: white;   
    font-size: 1.1em;
    display: inline-block;
    font-weight: 200;
    text-align: center;
}

.index-view {
    background-color: var(--BrightOrange);
    padding-left: 40px;
    padding-top: 20px;
}

.tile-banner {
    width: 100%;
    height: auto;
}

.tile-info {
    padding: 27px 100px;
    margin-bottom: 25px;
    background-color: var(--LightGrayishBlue);
    font-size: 1.1em;
    font-weight: 500;
}

/*Index (tile-page) View Styling End*/

/*Detail Page View*/

.banner {
    position: relative;
}

.text {
    position: absolute;
    color: white;
    right: 400px;
    font-weight: 500;
    font-size: 100px;
    text-shadow: 3px 3px 2px black;
}

.height-requirement {
    font-style: italic;
}

.description-height {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--LightGrayishBlue);
    opacity: 0.9;
    font-weight: 500;
    font-size: 1.1em;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 25px;
}

.height-speed-duration {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    color: var(--PureBlue);
    margin-bottom: 10px;
}

.height-speed-duration p {
    text-align: center;
}

.height, .speed, .duration {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#p-height, #p-speed, #p-duration {
    font-size: 36px;
}

/*Detail Page View End*/

/*Home Page View*/

.home-page-pic {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

/*Home Page View End*/

/*Ride Forum Styling*/

.ride-forum {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    width: 25%;
    margin-bottom: 15px;
}

.ride-forum div {
    padding: 20px;
    text-align: center;
}

.forum-submit {
    margin: auto;
    border-radius: 7px;
    background-color: green;
    color: white;
    font-size: 16px;
    padding: 10px;
    text-shadow: 5px;
    width: 10%;   
}

.forum-submit:hover {
    background-color: darkgreen;
}

.forum-h1 {
    margin-top: 100px;
}

/*End Ride Forum Styling*/

/*Media Query Styling*/
@media only screen and (min-width: 1920px) {
    .detail-image {
        width: 100%;
        height: 950px;
    }

    .ride-video {
        width: 100%;
        height: 900px;
    }

    .top-nav {
        padding-bottom: 10px;
    }

    .tile {
        padding-bottom: 45px;        
        padding-left: 240px;
        padding-right: 200px;
    }

    .tile-info {
        padding-left: 280px;
    }
}

@media only screen and (max-width: 1280px) {
    .detail-image {
        width: 100%;
        height: 580px;
    }

    .top-nav {
        padding-bottom: 10px;
    }
}

/*Media Query Styling End*/