@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

body {
    font-family: 'Crimson Text', serif;
}

/*Nav Styling*/
.top-nav {
    display: grid;
    grid-auto-columns: 0.25fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 0.25fr;
    grid-template-areas: ". logo nav nav nav nav nav nav .";
    background-color: #174eaf;
    margin-bottom: 5px;
    position: fixed;
    width: 100%;
    padding-top: 10px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.header {
    grid-area: logo;
    align-self: center;
}

.list {
    grid-area: nav;
}

.list ul {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}

.list ul li {
    list-style: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}

/*Nav styling end*/


/*Index (tile-page) View Styling*/

.tile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.ride-image {
    width: 250px;
    height: 200px;
    float: left;
}

.tile-view {
    display: flex;
    flex-direction: column;
}

.tile-name {
    text-decoration: none;
    color: white;   
    font-size: 1.1em;
    display: inline-block;
    font-weight: 200;
    text-align: center;
}

.index-view {
    background-color: #f05a28;
    padding-left: 40px;
    padding-top: 20px;
}

.tile-banner {
    width: 100%;
    height: auto;
}

.tile-info {
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 25px;
    background-color: #F2F3F4;
    padding-top: 25px;
    padding-bottom: 30px;
    font-size: 1.1em;
    font-weight: 500;
}

/*Index (tile-page) View Styling End*/


/*Detail page view*/

@media only screen and (min-width: 1920px) {
    .detail-image {
        width: 100%;
        height: 950px;
    }
    
    .ride-video {
        width: 100%;
        height: 900px;
    }

    .top-nav {
        padding-bottom: 10px;
    }

    .tile {
        padding-bottom: 45px;
        border-bottom: 5px solid #fab84a;
        padding-left: 240px;
        padding-right: 200px;
    }

    .tile-info {
        padding-left: 280px;
    }
}

@media only screen and (max-width: 1280px)
{
    .detail-image {
        width: 100%;
        height: 580px;
    }
}

.banner {
    position: relative;
}

.text {
    position: absolute;
    color: white;
    right: 400px;
    font-weight: 500;
    font-size: 100px;
    text-shadow: 3px 3px 2px black;
}

.height-requirement {
    font-style: italic;
}

.description-height {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F2F3F4;
    opacity: 0.9;
    font-weight: 500;
    font-size: 1.1em;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 25px;
}

.height-speed-duration {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    color: #00acee;
    margin-bottom: 10px;
}

.height-speed-duration p {
    text-align: center;
}

.height, .speed, .duration {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#p-height, #p-speed, #p-duration {
    font-size: 36px;
}

/*Detail page view end*/


/*Home page view*/

.home-page-pic {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

/*Home page view end*/