@model ForumPost
@{
    ViewData["Title"] = "New";
}

<h1 class="forum-h1">Roller Coaster Forum</h1>

<form method="post" asp-controller="rideforum" asp-action="new">

    <div class="ride-forum">

        <div class="forum-username">
            <input asp-for="Username" placeholder="Your Username" type="text" />
            <span asp-validation-for="Username"></span>
        </div>

        <div class="forum-rating">
            <input asp-for="Rating" placeholder="Your Rating" type="number" />
            <span asp-validation-for="Rating"></span>
        </div>

        <div class="forum-forum-title">
            <input asp-for="ForumTitle" placeholder="Your Subject Title" type="text" />
            <span asp-validation-for="ForumTitle"></span>
        </div>

        <div class="forum-forum-text">
            <input asp-for="ForumText" placeholder="Your Subject Message" type="text" />
            <span asp-validation-for="ForumText"></span>
        </div>

    </div>

    <input class="forum-submit" type="submit" value="Submit" />

</form>

