<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="height=device-height, initial-scale=1.0" />
    <title>@ViewData["Title"] - Coaster Project</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>

    <div class="top-nav">
        <div class="header">
            <a asp-controller="home" asp-action="index">
                <img src="https://cdn-cloudfront.cfauthx.com/binaries/content/gallery/cp-en-us/logos/cedarpoint-logo_224x34.png" />
            </a>
            
        </div>
        <div class="list">
            <ul>
                <li>Explore</li>
                <a asp-controller="rideforum" asp-action="new">
                    <li>Ride Forum</li>
                </a>
                <a asp-controller="rollercoaster" asp-action="index">
                    <li>Play</li>
                </a>                
                <li>Stay</li>
                <li>Tickets</li>
                <li>Help</li>
            </ul>
        </div>        
    </div>

    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - Coaster Project</p>
        </footer>
    </div>

</body>
</html>
