@model IList<RollerCoaster>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div class="tile">

@foreach(RollerCoaster rollerCoaster in Model)
{
    <div class="tile-view">
        <img class="ride-image" src="@rollerCoaster.RideImage" />
        <h2>@rollerCoaster.Name</h2>
    </div>
}

</div>